*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #202020;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin-top: auto;


}

.footer-container{
    width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    color: white;
    opacity: 0.8;
}

@media (max-width: 700px) {
    .footer-container div h5{
        margin-left: 15px;
        margin-right: 15px;
    }
}