body{
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-wrapper{
    width: 100%;
    height: 50px;
    background-color: bisque;
}

.themes{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.themes-blocks{
    padding-right: 70px;

}

.themes-blocks a{
    text-decoration: none;
}



.carousel {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.carousel .carousel-item img {
    width: 100%;
    height: 650px;

}

/* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popular-themes-block{
    margin-left: 60px;
    margin-right: 60px;
}

.popular-themes-text{
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 30px;
}

.popular-themes{

    width: 100%;
    height: 620px;
    background-color: aqua;

}

.top-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bottom-items{
    display: flex;
    justify-content: space-between;
}

.fig1 {
    width: 60%;
    height: 300px;
    background-image: url("https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw=");

}

.fig2 {
    width: 40%;
    height: 300px;
    background-image: url("https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw=");
    margin-left: 20px;
}

.fig3{
    background-image: url("https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw=");

}

.fig4{
    background-image: url("https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw=");

}

.fig5{
    background-image: url("https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw=");

}

.fig3, .fig4, .fig5{
    height: 300px;
    width: 33%;
}

.fig1, .fig2, .fig3, .fig4, .fig5{
    background-size: 100% 100%;
    transition: all 300ms;
}

.fig1:hover, .fig2:hover, .fig3:hover, .fig4:hover, .fig5:hover{
    transform: scale(1.05);
}