*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    background-color: bisque;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.nav-container{
    width: 1000px;
    margin: 0 auto;
    background-color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 2px;
    font-size: 25px;
}



.carousel {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: flex; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */

}

.carousel .carousel-item img {
    width: 100%;
    height: 650px;

}

/* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


section{
    min-height: 600px;

}

.themes-container{
    background-color: coral;
    max-width: 1250px;

    margin: 0 auto;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.fig1 img, .fig2 img{
    height: 300px;
    width: 100%;
}

.fig1 {
    width: 60%;
}

.fig2 {
    width: 39%;
}


.fig3, .fig4, .fig5{
    width: 33%;
}

.fig3 img, .fig4 img, .fig5 img{
    height: 292px;
    width: 100%;
}



.fig1, .fig2, .fig3, .fig4, .fig5{
    transition: all 300ms;
}

.fig1:hover, .fig2:hover, .fig3:hover, .fig4:hover, .fig5:hover{
    transform: scale(1.05);
}

footer{
    background-color: aquamarine;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.footer-container{
    width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .nav-container{
        gap: 12px;
        justify-content: flex-start;
    }


    .carousel{
       height: 300px;
    }

    .carousel .carousel-item img {

        height: 300px;

    }

    .fig1, .fig2, .fig3, .fig4, .fig5{
        width: 100%;
    }





}