<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
        <link rel ="stylesheet" href="../static/css/about_pg.css">
        <title>Meist</title>
    </head>
    <body class="taust">
    <header>
        <a class="logo" href="../index.html"><img src="../static/images/logo.png" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a href="about_pg.html">Meist</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <div class="pealkiri">
        <h1>Meist</h1>
    </div>
    <div class="container">
        <div class="pilt"><img src="../static/images/grupitöö.jpg" alt=""></div>
        <div class="tekst">
            <div class="kirjeldus"><p>Oleme kolm Tartu Ülikooli 1. kursuse õpilast, kes tulid informaatikat õppima. Olles väga motiveeritud ja avatud inimesed, kes tahavad palju areneda, võtame vastu kõik huvitavaid väljakutsed.</p></div>
            <h2>Meie missioon</h2>
            <div class="kirjeldus1"><p>Meie missiooniks on luua veebileht, mis kajastab huvitavaid ajaloolisi fotosid. Plaanime kokku koguda ajaloo kuulsaimad ja meeldejäävaimad jäädvustused ja esitleda neid kõiki ühel veebilehel. Selleks kavatseme luua erinevad kategooriad, kuhu lisame aja jooksul juurde pilte, mida inimesed saavad vaatamas käia. Tegemist on põhimõtteliselt virtuaalmuuseumiga.Meie missiooniks on luua veebileht, mis kajastab huvitavaid ajaloolisi fotosid. Plaanime kokku koguda ajaloo kuulsaimad ja meeldejäävaimad jäädvustused ja esitleda neid kõiki ühel veebilehel. Selleks kavatseme luua erinevad kategooriad, kuhu lisame aja jooksul juurde pilte, mida inimesed saavad vaatamas käia. Tegemist on "virtuaalmuuseumiga".</p></div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>
    </body>
</html>