<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="../index.html"><img src="https://www.graphicsprings.com/filestorage/stencils/1f4e948fcfc9977ee6fb567bd815132d.png?width=500&height=500" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a class="header-text" href="">Meist</a></li>
                <li><a class="header-text" href="">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Arhitektuur</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="../static/images/coliseo.jpeg" alt="Colosseum">
                <p>
                    Colosseum
                </p>
                <button class="open-popup" data-popup="popup1">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/puramiid.jpeg" alt="Egiptuse Püramiidid">
                <p>
                    Egiptuse Püramiidid
                </p>
                <button class="open-popup" data-popup="popup2">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/bigben.webp" alt="Big Ben">
                <p>
                    Big Ben
                </p>
                <button class="open-popup" data-popup="popup3">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/hiina.jpeg" alt="Suur Hiina müür">
                <p>
                    Suur Hiina müür
                </p>
                <button class="open-popup" data-popup="popup4">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/paks.jpeg" alt="Paks Margareeta">
                <p>
                    Paks Margareeta
                </p>
                <button class="open-popup" data-popup="popup5">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/oliviste.png" alt="Oleviste kirik">
                <p>
                    Oleviste kirik
                </p>
                <button class="open-popup" data-popup="popup6">Read more</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/coliseo.jpeg">
            <p>Colosseum on suurim amfiteater Roomas. Colosseum mahutab 50 000 pealtvaatajat. Sellega oli ta antiikajal maailma suuruselt kolmas staadion Circus Maximuse (270 000, kaarikute võiduajamine) ja Konstantinoopoli hipodroomi (100 000) järel ning suurim nendest, mis polnud mõeldud võiduajamisteks. Colosseum sai nime Nero kolossi järgi, mis seisis seal lähedal kuni keskajani.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/puramiid.jpeg">
            <p>Kõige tuntumad püramiidid on Egiptuse püramiidid – suured ehitised, mis koosnevad tellistest või kividest, osa püramiide kuulub maailma kõige suuremate ehitiste hulka. Muistsed egiptlased ehitasid püramiide aastatel 2700–1700 eKr. Peaaegu kõikidel püramiididel oli lihvitud, peegelduv, valgest lubjakivist pind, mis jättis kaugusest vaadates läikiva mulje. Nurgakivi oli tavaliselt tehtud kõvemast kivimist, näiteks graniidist või basaldist, mis oli omakorda kaetud kulla või hõbedaga, mis tähendas, et pind oli väga peegeldav.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/bigben.webp">
            <p>Esialgne torn ehitati praeguse torni kohale 1288. aastal tollase ülemkohtuniku Ralph de Henghami rahaga. Ööl vastu 16. oktoobrit 1834 hävis vana torn tulekahjus. Pärast seda ehitati Westminsteri palee peaarhitekti Charles Barry juhtimisel uus torn. Torn on uusgooti stiilis. Selle kõrgus on 96,3 meetrit. Barry võinuks uue torni ka ise projekteerida, kuid ta laskis selle teha Augustus Puginil, kellel see oli elu viimane töö. Elizabeth Tower on maailma suuruselt kolmas ise seisev kellatorn ning maailma suurim nelja sihverplaadi ja tornikellaga kellatorn.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/hiina.jpeg">
            <p>Suur Hiina müür on Hiina kaitserajatis, mida ehitati alates 3. sajandist eKr kuni 17. sajandi alguseni eesmärgiga kaitsta valitsevaid dünastiaid võõrvallutajate (mongolid, turgid jt) sissetungi eest. Mitmeid müürilõike ehitati alates 3. sajandist eKr, kuid Suur Hiina müür sai alguse ajavahemikus 220–200 eKr, kui esimene Hiina keiser Qin Shi Huangdi lasi üksikud müürilõigud omavahel ühendada. Müüri kogupikkuseks loetakse pärast 2009. aasta arheoloogilisi avastusi 8851,8 km (peamüüri pikkus 2400 km) ja praegu ulatub müür mererannikult Pekingist idas kuni Gobi kõrbeni Gansu provintsis keset Hiinat.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/paks.jpeg">
            <p>1510. aastal alustatud tööde käigus rajati rannaväravale uus eesvärav ja läänetorn, mida 19. sajandi esimesest poolest alates nimetatakse “Paksuks Margareetaks” (varem Rosencrantz). Kompleks loodi eelkõige sadama kaitseks ning see pidi oma välispidise ilmega mõjuma imposantselt. Suurtükitorni ehituse kavandas tõenäoliselt Clemens Pale. 1520. aastaist juhtis töid meister Gert Koningk Münsterist, kes oli ametis olnud ka Oleviste kiriku juures. Rekonstrueerimistööd lõpetati täielikult 1531. aastal, põhiliste tööde lõppu (1529) märgib dolomiidist leekestiilis vapitahvel värava esiküljel.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/oliviste.png">
            <p>Oleviste kirik on kirik Tallinna vanalinnas aadressil Lai tänav 50. Kirik on nimetatud Norra kuninga Olav II Haraldssoni järgi, kes juhtis Norra ristiusustamist 11. sajandil ning langes lahingus 1030. aastal selle käigus. Katoliku kirik kuulutas Olav II Haraldssoni seejärel pühakuks (püha Olav). Kirikut kasutab Eesti Evangeeliumi Kristlaste ja Baptistide Koguduste Liidu Oleviste kogudus. Oleviste kirik on Baltimaade kõrgeim kirik – 123,7 meetrit maapinnast. Kiriku tornis 60 meetri kõrgusel on aprillist novembrini külastajatele avatud vaateplatvorm.</p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>