<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="carousel">
        <div class="carousel-item carousel-item-visible">
            <img src="https://images.unsplash.com/photo-1537211261771-e525b9e4049b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&h=450&q=80"
                 alt="Squirrel zombie" />
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1503925802536-c9451dcd87b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&h=450&q=80"
                 alt="Zombie hands" />
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1509558567730-6c838437b06b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&h=450&q=80"
                 alt="Zombie pumpkin" />
        </div>
        <div class="carousel-actions">
            <button id="carousel-button-prev" aria-label="Previous"><</button>
            <button id="carousel-button-next" aria-label="Next">></button>
        </div>
    </div>

    <nav>
        <div class="nav-container">
            <a href="../templates/themes.html">teema1</a>
            <a href="">teema2</a>
            <a href="">teema3</a>
            <a class="el-4" href="">teema4</a>
            <a href="">teema5</a>
        </div>
    </nav>

    <section>
        <div class="themes-container">
            <div class="fig1"><img src="https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw="alt=""></div>
            <div class="fig2"><img src="https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw="alt=""></div>
            <div class="fig3"><img src="https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw="alt=""></div>
            <div class="fig4"><img src="https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw="alt=""></div>
            <div class="fig5"><img src="https://media.istockphoto.com/photos/used-brushes-on-an-artists-palette-of-colorful-oil-paint-picture-id636761588?b=1&k=20&m=636761588&s=612x612&w=0&h=mlriGcG0LszeBR13BhAqCaRNgaAH2je1SaY4MMyitnw="alt=""></div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div><h2>TEST</h2></div>
            <div><h2>2022</h2></div>
            <div><h2>INST</h2></div>
        </div>
    </footer>
    <script src="../static/js/slideshow.js"></script>

</body>
</html>