<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/kontakt.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
  <title>Kontakt</title>
</head>
<body>
  <header class="blur">
    <a class="logo" href="../index.html"><img src="../static/images/logo.png" alt=""></a>
    <nav class="header-nav">
      <ul class="nav-links">
        <li><a href="about_pg.html">Meist</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="Kontakt-kast">
      <form class="form">
        <h2>Võta meiega ühendust!</h2>
        <input type="text" class="field" placeholder="Teie Nimi">
        <input type="email" class="field" placeholder="Teie email">
        <input type="tel" class="field" placeholder="Teie telefoninumber">
        <textarea class="message" placeholder="Sõnum"></textarea>
        <div class="nupp_wrap"><input type="submit" class="nupp"></div>
      </form>
    </div>
  </div>

  <footer class="blur">
    <div class="footer-container">
      <div><h5>Tartu Ülikool</h5></div>
      <div><h5>2022</h5></div>
      <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
    </div>
  </footer>

</body>




</html>
