<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="index.html"><img src="https://www.graphicsprings.com/filestorage/stencils/1f4e948fcfc9977ee6fb567bd815132d.png?width=500&height=500" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a class="header-text" href="">Meist</a></li>
                <li><a class="header-text" href="">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Kunst</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup1">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup2">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup3">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup4">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup5">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup6">Read more</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>