<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="../index.html"><img src="../static/images/logo.png" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a href="about_pg.html">Meist</a></li>
                <li><a href="kontakt.html">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Muusika</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="../static/images/michel_jackson.jpeg" alt="Michael Jackson">
                <p>
                    Michael Jackson
                </p>
                <button class="open-popup" data-popup="popup1">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/queen.jpg" alt="Queen">
                <p>
                    Queen
                </p>
                <button class="open-popup" data-popup="popup2">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/vanaaja_muusika.jpeg" alt="Vanaaja muusika">
                <p>
                    Vanaaja muusika
                </p>
                <button class="open-popup" data-popup="popup3">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/Keskaja_muusika.jpeg" alt="Keskaja muusika">
                <p>
                    Keskaja muusika
                </p>
                <button class="open-popup" data-popup="popup4">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/beatles.jpg" alt="The Beatles">
                <p>
                    The Beatles
                </p>
                <button class="open-popup" data-popup="popup5">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/acdc.jpg" alt="AC/DC">
                <p>
                    AC/DC
                </p>
                <button class="open-popup" data-popup="popup6">Read more</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/michel_jackson.jpeg" alt="">
            <p>Michael Joseph Jackson (29. august 1958 Gary, Indiana – 25. juuni 2009 Los Angeles) oli afroameerika päritolu poplaulja, laululooja, tantsija ja instrumentalist. Teda on nimetatud popikuningaks ja ta on kõigi aegade edukaim meelelahutaja. Tema muusika ning tantsu- ja riietusstiil koos laialt kajastatud eraeluga tegid Jacksonist rohkem kui 40 aastaks üle maailma tuntud popikooni. Jacksonite perekonna seitsmenda lapsena alustas ta muusikukarjääri 1964. aastal perebändis The Jackson 5. Tema soolokarjäär sai alguse 1971. aastal.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/queen.jpg" alt="">
            <p>Queen on inglise rokkansambel, mille asutasid 1970. aastal Londonis kitarrist Brian May, laulusolist Freddie Mercury ja trummar Roger Meddows Taylor. Esimene Queeni kontsert oli 27. juunil 1970 Truros, kuid ametlikult kandis bänd siis veel nime Smile. Queeni lauludest tulid seal ettekandele "Son And Daughter", "Stone Cold Crazy" ja "Doin' Alright". Võimalik, et esitati ka laulud "Keep Yourself Alive", "Liar", "Hangman", "Great King Rat" ja "Modern Times Rock 'n' Roll". Basskitarrist John Deacon liitus ansambliga aasta hiljem ning esimest korda astus ta lavale 2. juulil 1971 Surreys. Enne John Deaconit mängisid bändis basskitarri Mike Grose, Barry Mitchell ja Doug Ewood Bogie. Queeni helikeel on omapärane ja äratuntav, samas on nende loomingu stiiliulatus väga lai, hõlmates nii hard rock'i kui ka ooperi elemente.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/vanaaja_muusika.jpeg" alt="">
            <p>Noodinäidete najal saab muusika ajalugu jälgida alates 5.-4. sajandist eKr. Varasemast ajast on säilinud vaid üksikuid näited, mis ei anna võimalust üldistusi teha. Siiski on teada, et muusikakultuur oli kõrgelt arenenud juba muistses Egiptuses, Babüloonias, Assüürias, Hiinas, Indias, Süürias, Palestiinas jm. Muusikale omistati tihti jumalikku algupära – jumalate hääli võrreldi pillihäältega; pille – eriti neid, millel arvati jumalaid mängivat – peeti pühadeks. Muusikuid arvati jumalaga ühenduses olevaiks, mistõttu neid ümbritseti suure austusega.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Keskaja_muusika.jpeg" alt="">
            <p>Keskaegne vaimulik muusika oli eelkõige liturgiline muusika, mis jumalateenistustel kõlas vaimulike koorilt a cappella. Mitme sajandi vältel oli vaimulik koorilaul ühehäälne. Meloodiad olid kristlaste seas levima hakanud juba Vana-Roomas ning pärinesid Palestiinast. Aja jooksul kaotasid need laulud oma idamaise värvingu ning lihtsustusid. Paavst Gregorius I auks hakati neid nimetama gregooriuse koraalideks. Tema käsul koostati ka koraaliviiside valikkogumik nn Gregoriuse antifonaarium, mis valmis 604. aastal. Sellest alates hakati jumalateenistustel kasutama üksnes neid viise.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/beatles.jpg" alt="">
            <p>The Beatles (biitlid) oli Suurbritanniast Liverpoolist pärit rokkansambel. Ansambli muusikaline ampluaa oli äärmiselt lai, ulatudes ballaadidest reggae’ni ja psühhedeelsest muusikast bluusini. Ansambel mõjutas tugevalt 1960. aastatel aset leidnud sotsiaalset ja kultuurilist revolutsiooni. Bändi looming jõudis tegutsemisaastate jooksul singlimüügi edetabeli esimese 40 hulka umbes 50 korral ning ainuüksi Ameerika Ühendriikides jõudsid nad 20 korral singlimüügi edetabelis esikohale. EMI Recordsi andmetel on The Beatlesi plaate müüdud praeguseks maailmas üle miljardi eksemplari. The Beatlesi läbilöögiaasta oli 1963, mil nad andsid välja debüütalbumi "Please Please Me" ning Suurbritannia ajakirjanduses ilmusid artiklid ansambli kontserdil kiljuvatest ja minestavatest teismelistest.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/acdc.jpg" alt="">
            <p>AC/DC on Austraalia päritolu hard rock'i ansambel. AC/DC rajasid vennad Malcolm ja Angus Young Sydneys 1973. aastal. Lauljaks oli siis Dave Evans. Septembris 1974 asus Evansi asemele Bon Scott. Pärast Boni surma 19. veebruaril 1980 asus tema kohale Brian Johnson. AC/DC tegutseb tänaseni, nende albumeid on müüdud üle 200 miljoni eksemplari. Kuigi tavaliselt peetakse bändi hard rock'i ja heavy metal'i teerajajaks, liigitavad liikmed enda muusikat rohkem rock'n'roll'iks. Nimi AC/DC tuleneb ingliskeelsetest sõnadest alternating current/direct current, mis tähendab vahelduvvoolu/alalisvoolu. Väidetavalt soovitas seda vendadele Youngidele nende õde Margaret, lugedes seda lühendipaari õmblusmasinalt.</p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>