<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="../index.html"><img src="https://www.graphicsprings.com/filestorage/stencils/1f4e948fcfc9977ee6fb567bd815132d.png?width=500&height=500" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a class="header-text" href="">Meist</a></li>
                <li><a class="header-text" href="">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Poliitika</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="../static/images/Charles.jpeg" alt="Charles de Gaulle">
                <p>
                    Charles de Gaulle
                </p>
                <button class="open-popup" data-popup="popup1">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/martin.jpeg" alt="Martin Luther King">
                <p>
                    Martin Luther King
                </p>
                <button class="open-popup" data-popup="popup2">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/mahtma.jpeg" alt="Mahatma Gandhi">
                <p>
                    Mahatma Gandhi
                </p>
                <button class="open-popup" data-popup="popup3">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/winston.jpeg" alt="Winston Churchill">
                <p>
                    Winston Churchill
                </p>
                <button class="open-popup" data-popup="popup4">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/kennedy.jpeg" alt="John F. Kennedy">
                <p>
                    John F. Kennedy
                </p>
                <button class="open-popup" data-popup="popup5">Read more</button>
            </div>
            <div class="elem">
                <img src="../static/images/obama.jpeg" alt="Barack Obama">
                <p>
                    Barack Obama
                </p>
                <button class="open-popup" data-popup="popup6">Read more</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Charles.jpeg">
            <p>Charles André Joseph Marie de Gaulle (22. november 1890 Prantsusmaa, Lille – 9. november 1970) oli Prantsuse sõjaväelane ja poliitik. Teise maailmasõja ajal oli ta prantsuse natsivastase vastupanuliikumise liider ning juhtis 1944–1946 Prantsusmaa Vabariigi ajutist valitsust, mille ülesandeks oli demokraatia taastamine Prantsusmaal. 1958 naasis ta pensionilt, pani aluse Prantsusmaa Viiendale Vabariigile ning valiti selle presidendiks.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/martin.jpeg">
            <p>Martin Luther King (sündinud Michael King, USA-s tavaliselt Dr. Martin Luther King, Jr.; 15. jaanuar 1929 – 4. aprill 1968) oli USA vaimulik ja mustanahaliste inimõiguste eest võitleva liikumise juht. Oli aastast 1954 Montgomery baptistikoguduse pastor, asutas 1957 Lõuna Kristliku Juhtkonna Konverentsi ning alustas üleameerikalist võitlust rassilise segregatsiooni lõpetamiseks. Organiseeris 1963 kuulsa marsi Washingtoni, kus esines 200 000 kuulaja ees. Tema avalikest esinemistest on kõige tuntum lõik, mis algas sõnadega "I have a dream…" ("Mul on üks unistus"). Langes 4. aprillil 1968 Memphises (Tennessee) valge rassisti James Earl Ray atentaadi ohvriks. Sai 1964. aastal Nobeli rahuauhinna.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/mahtma.jpeg">
            <p>Mohandas Karamchand Gandhi (2. oktoober 1869 Porbandar – 30. jaanuar 1948 New Delhi), tuntud ka kui Mahatma Gandhi, oli India poliitik, kes juhtis vägivallatut võitlust Briti võimu vastu Indias. Ta kasvas üles Gujaratis, ja elas seejärel kuni aastani 1915 Lõuna-Aafrikas. Tema sünnipäev, 2. oktoober, on kuulutatud rahvusvaheliseks vägivallatuse päevaks.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/winston.jpeg">
            <p>Sir Winston Leonard Spencer-Churchill (30. november 1874 Blenheimi loss, Woodstock, Oxfordshire – 24. jaanuar 1965 London) oli Suurbritannia poliitik ja Nobeli auhinna laureaat. Ta oli Suurbritannia peaminister 10. maist 1940 kuni 26. juulini 1945 ja 26. oktoobrist 1951 kuni 7. aprillini 1955. Churchill oli vabamüürlane ning kuulus loožidesse Studholme Alliance ja Rosemary.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/kennedy.jpeg">
            <p>John Fitzgerald Kennedy (tuntud ka initsiaalide JFK all; 29. mai 1917 Brookline, Massachusetts – 22. november 1963 Dallas, Texas) oli Ameerika Ühendriikide 35. president. 1960. aasta presidendivalimistel võitis ta Richard Nixonit ja sai presidendiks. Kennedy poolt hääletas 49,7% ja Nixoni poolt 49,5% valijaist, aga Kennedy kogus 303 valijameest Nixoni 219 vastu. Kennedy oli kõige noorem mees, kes kunagi USA presidendiks valitud, ja ta astus ametisse pärast Dwight Eisenhowerit, kes oli oma ajal vanim, kes USA presidendiks valitud</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/obama.jpeg">
            <p>Barack Hussein Obama (sündinud 4. augustil 1961 Honolulus) on Ameerika Ühendriikide poliitik, Demokraatliku Partei liige. Ta oli Ameerika Ühendriikide 44. president 20. jaanuarist 2009 kuni 20. jaanuarini 2017. Tema isa on Keenia päritolu mustanahaline, ema valge ameeriklanna. Kuuenda eluaastani elas Obama Honolulus, hiljem indoneeslasest kasuisaga Jakartas. Barack Obama on õppinud New Yorgis Columbia ülikoolis politoloogiat ja saanud doktorikraadi õigusteaduse alal Harvardi ülikoolist. Enne poliitikukarjääri töötas Obama tsiviilõiguse juristina ja pidas Chicago Ülikoolis konstitutsiooniõiguse loenguid.</p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>