<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="../index.html"><img src="../static/images/logo.png" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a href="about_pg.html">Meist</a></li>
                <li><a href="kontakt.html">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Sport</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="../static/images/muhammad_ali.jpeg" alt="Muhammad Ali">
                <p>
                    Muhammad Ali
                </p>
                <button class="open-popup" data-popup="popup1">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Leroy_Smith.jpg" alt="Leroy Smith">
                <p>
                    Leroy Smith
                </p>
                <button class="open-popup" data-popup="popup2">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Fergus%20Suter.jpeg" alt="Fergus Suter">
                <p>
                    Fergus Suter
                </p>
                <button class="open-popup" data-popup="popup3">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Carlos%20Caszély.jpeg" alt="Carlos Caszély">
                <p>
                    Carlos Caszély
                </p>
                <button class="open-popup" data-popup="popup4">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Wilhelm%20Steinitz.jpeg" alt="Wilhelm Steinitz">
                <p>
                    Wilhelm Steinitz
                </p>
                <button class="open-popup" data-popup="popup5">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Ameerika%20jalgpall.jpeg" alt="Ameerika jalgpall">
                <p>
                    Ameerika jalgpall
                </p>
                <button class="open-popup" data-popup="popup6">Kuva rohkem</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/muhammad_ali.jpeg" alt="">
            <p>See on vaieldamatult kõige kuulsam foto spordis. Ali nähakse nurisemas Listoni üle, hirmutava võitleja üle, kes oli noor jultunud poksija nimega Cassius Clay, kes oli 15 kuud varem üllatavalt võitnud raskekaalu maailmameistritiitli pärast. Need olid sotsiaalselt ja poliitiliselt uskumatud ajad ning Ali oli kahe Listoni võitluse vahelisel ajal Nation of Islamiga liitumise järel oma nime muutnud.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Leroy_Smith.jpg" alt="">
            <p>Leroy Smith Long Islandi ülikoolist võib olla maas, kuid ta ei ole mänguvõimeline – pärast Kansase osariigi tagalaualt löömist laskub ta põrandale, kuid annab hea söödu meeskonnakaaslasele Sherman White'ile koos Kansas State'i mängija Jack Stone'iga (10) ilmub liiga hilja, et etendusse pääseda. Valge on number 20. Kansas State võitis selle Madison Square Gardeni väljaku kalde tulemusega 58:51.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Fergus%20Suter.jpeg" alt="">
            <p>Šotimaa jalgpallur Fergus Suter läks aastal 1878 Inglismaa kirdeosa jalgpalliklubisse Darwen FC. Peagi pärast seda lõpetas Suter kiviraidurina töötamise. See tekitas publikus imestust: mil moel ta siis elatist teenis? Jalgpallimängijatele maksmine oli toona keelatud. Mees rääkis kõigile, et kohalikus kivimurrus töötamine on temale liiga raske, kuid enamik inimesi uskus, et küllap maksab klubi talle palka. Seega võib teda pidada esimeseks professionaalseks jalgpalluriks.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Carlos%20Caszély.jpeg" alt="">
            <p>Teadaolevalt kuulub kahtlane au olla esimene punase kaardi tõttu mängust välja saadetud jalgpallur Tšiili vutimehele Carlos Caszélyle. See juhtus 1974. aasta MMil, kus Caszély niitis mängu 67. minutil palli tabada üritades jalust maha Saksa mängija Berti Vogti. Punane kaart oli kasutusele võetud neli aastat varem 1970. aastal toimunud maailmameistrivõistlustel ja selle eesmärk oli parem kommunikatsioon eri keelekeskkonnist pärit mängijatega.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Wilhelm%20Steinitz.jpeg" alt="">
            <p>Esimene ametlik maailmameistrivõistlus males toimus 1886. aastal austerlase Wilhelm Steinitzi ja Poola-Briti päritolu Johannes Zukertorti vahel. Steinitz oli males aastakümneid domineerinud, võites peaaegu kõik mängud, ent Zukertortile oli ta paar korda kaotanud. Niisiis istusid 1886. aasta 11. jaanuaril New Yorgis malelaua taha kaks väga lugupeetud ja maailma absoluutselt parimat malemängijat. Plaani järgi pidid nad mängima seni, kuni üks on võitnud kümme korda. Üheksa mängu järel oli mõlemal mehel neli võitu ja üks viik. Sealt alates hakkas Steinitz ülekaalu jääma ja oli üha selgem, et Zukertort oli kehaliselt kurnatud ja palju de mängude pingest närvivapustuse äärel. 29. märtsil 1886 võitis Steinitz otsustava partii ja pälvis seisuga 10 : 5 maailma esimese ametliku malemaailmameistri tiitli.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Ameerika%20jalgpall.jpeg" alt="">
            <p>
                Esimene Ameerika jalgpalli mäng peeti 6. novembril 1869 Rutgersi ja Princetoni ülikooli vahel. Tolle aja jalgpall oli üsna erinev sellest, mida mängitakse täna päeval. 1869. aastal mängitud jalgpall meenutas veidrat segu ragbist ja Euroopa jalgpallist. Meeskonnas oli 25 mängijat, kes jooksid ümara palli järel, mida nad võisid ainult lüüa. Järgmistel aastatel hakka sid teisedki ülikoolid seda sporti harrastama, kuid igaüks mängis oma reegli te järgi. Sageli otsustas võõrustaja, milliste reeglite järgi seekord mängitakse, näiteks kas palli võib kätte võtta ning selle ga koos joosta.
            </p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>