<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="blur">
        <a class="logo" href="../index.html"><img src="../static/images/logo.png" alt=""></a>
        <nav class="header-nav">
            <ul class="nav-links">
                <li><a href="about_pg.html">Meist</a></li>
                <li><a href="kontakt.html">Kontkat</a></li>
            </ul>
        </nav>
    </header>

    <p class="theme-heading">Tehnoloogia</p>
    <div class="themes-block blur">
        <div class="container">
            <div class="elem">
                <img src="../static/images/kassaaparaat.jpeg" alt="Kassaaparaat">
                <p>
                    Kassaaparaat
                </p>
                <button class="open-popup" data-popup="popup1">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/bell.webp" alt="Alexander Graham Bell">
                <p>
                    Alexander Graham Bell
                </p>
                <button class="open-popup" data-popup="popup2">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/fotograafia.jpeg" alt="Fotograafia ajalugu">
                <p>
                    Fotograafia ajalugu
                </p>
                <button class="open-popup" data-popup="popup3">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/lalman.jpeg" alt="Pierre Lalman">
                <p>
                    Pierre Lalman
                </p>
                <button class="open-popup" data-popup="popup4">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Õmblusmasin.jpeg" alt="Õmblusmasin">
                <p>
                    Õmblusmasin
                </p>
                <button class="open-popup" data-popup="popup5">Kuva rohkem</button>
            </div>
            <div class="elem">
                <img src="../static/images/Grammofon.jpeg" alt="Grammofon">
                <p>
                    Grammofon
                </p>
                <button class="open-popup" data-popup="popup6">Kuva rohkem</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/kassaaparaat.jpeg" alt="">
            <p>Vennad Rittyd leiutasid 1879. aastal USAs maailma esimese kassa­aparaadi. Kõrtsiomanikul James Rittyl oli probleem, et tema töötajad ei osanud arvutada või panid „kogemata“ raha enda tasku. Ühel ärireisil Euroopas silmas ta mehhanismi, mis võinuks tema mure lahendada. Ta nägi aurulaeva sõu­kruvi, millel oli loendur, mis kruvi pöördeid loendas. James jutustas sellest mehaanikust vend Johnile, kellega üheskoos nad valmistasidki „Ritty äraostmatu kassapidaja“.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/bell.webp" alt="">
            <p>Alexander Graham Bell (3. märts 1847 Edinburgh – 2. august 1922 Beinn Bhreagh, Nova Scotia, Kanada) oli šoti päritolu ameerika teadlane, leiutaja ja õpetaja. Bell on tuntud eeskätt telefoni leiutajana, mille ta patenteeris 1876. aastal. 1885. aasta 15. aprillist pärit vahaga kaetud pappkettal leidub salvestis, kus Bell sõna võtab. Sellel on kõigest üks lause: "Hear my voice, Alexander Graham Bell." ("Kuulake mu häält, olen Alexander Graham Bell.") Aastal 1888 oli Bell üks National Geographic Society asutajaid.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/fotograafia.jpeg" alt="">
            <p>Fotograafia nimetus pärineb kreekakeelsetest sõnadest phōs (valgus) ja gráphein (kirjutama). Selle aluseks on eri aegadest pärinevad leiutised ja avastused. Fotoaparaadi tööpõhimõttest oldi iseenesest teadlikud juba tuhandeid aastaid tagasi, ent alles 19. sajandil jõuti vajalike teadmisteni keemiast, et salvestada esimene foto. Enam kui saja aasta jooksul täiustati nii fotomaterjali kui ka kaamerat, ent nüüdseks on emulsioonil põhinevate fotode tegemine asendunud suurel määral digitaalfotograafiaga.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/lalman.jpeg" alt="">
            <p>1963. aastal läks Lalman Pariisi, kus ta tegi oma esimese modelli. Ja juba 1864. aastal alustas ta koos töösturite vendade Olivier'ga ja koostöös vankriinsener Pierre Michaud'ga oma leiutise masstootmist. Just vankriinsener Pierre Michaud arvas, et võiks teha jalgratta metallist raami, kõik varasemad leiutised olid puidust ning mõne teate kohaselt mõtles ka nime “jalgratas” välja Michaud. Kaks aastat hiljem lahkub Lalman Ameerikasse, kus ta patenteerib oma leiutise.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Õmblusmasin.jpeg" alt="">
            <p>Esimest võimaliku õmblusmasina patenti seostatakse saksa leiutaja Charles Weisenthaliga 1755 aastal. Talle väljastati patent nõelale, mis pidavat sobima mehaanilisele õmblusmasinale, kuid teadaolevalt ei valmistanud ta kunagi toimivat seadet ning ei suutnud nõelale sobivat masinat isegi kirjeldada. Järgmisena anti patent õmblusmasinale välja inglasele Thomas Saintile aastal 1790. Patent väljastati talle jooniste alusel ning suure tõenäosusega ei ehitanud mees ise kunagi toimivat protodüüpi, sest hiljem kui üritati tema jooniste põhjal masinat ehitata ei toiminud see. Mitmed erinevad leiutajad ja rätsepad püüdsid järgnevetel aastatel õmblusmasinaid leiutada, aga neid ei patendeeritud kunagi, sest need ei osutunud kas töökõlblikuks või rasikasid vaid kangast ning lagunesid vähese kasutuse järel.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="../static/images/Grammofon.jpeg" alt="">
            <p>Emile Berliner patentis horisontaalse salvestusviisi 1887. aastal (USA patent 372786) ja asendas fonograafi silindrilise helikandja (trumli) kettakujulise kandjaga – heliplaadiga – ja esitas seda nimetusega Gramophone (saksa keeles Grammophon või Grammofon) (1895). Plaadikujulise andmekandja oluline eelis oli võimalus hõlpsalt koopiaid valmistada ja plaatide masstootmist korraldada (fonograafi vahasilindri korral see võimalus praktiliselt puudus). Samuti lihtsustus taasesitusseadme ehitus, sest langes ära vajadus nõela etteandemehhanismi järele (mida vahasilinder vajas ka taasesitamisel).</p>
        </div>
    </div>

    <footer class="blur">
        <div class="footer-container">
            <div><h5>Tartu Ülikool</h5></div>
            <div><h5>2022</h5></div>
            <div><h5>Nikita Filin <br>Joosep Lember <br>Marten Juhansoo</h5></div>
        </div>
    </footer>

    <script src="../static/js/popup.js"></script>
    <script src="../static/js/popup_show.js"></script>

</body>
</html>