<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="themes-block">
        <div class="container">
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup1">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup2">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup3">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup4">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup5">Read more</button>
            </div>
            <div class="elem">
                <img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.
                </p>
                <button class="open-popup" data-popup="popup6">Read more</button>
            </div>
        </div>
    </div>

    <div id="popup1" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup3" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup4" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup5" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>

    <div id="popup6" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://deanadamsart.com/wordpress/wp-content/uploads/2020/04/lion.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et incidunt inventore laudantium nam quibusdam! Adipisci dolores earum facilis iure natus optio quas quo sequi soluta, unde? Animi aut dignissimos ea earum explicabo, iste maxime natus numquam pariatur quidem repellendus similique.</p>
        </div>
    </div>


    <script src="../static/js/popup.js"></script>

</body>
</html>