<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/themes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="themes-block">
        <div class="container">
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam iste molestias non tempora voluptatem.</p></div>
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea enim hic, inventore qui quo!</p></div>
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos et id molestias officia placeat?</p></div>
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius inventore iure, minus rerum velit.</p></div>
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nam nobis placeat rem repudiandae temporibus!</p></div>
            <div class="elem"><img src="https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dignissimos dolorum expedita fugiat obcaecati voluptas.</div>
        </div>
    </div>

</body>
</html>